
body {
    padding-top: 3rem;
    background-color: rgb(8, 8, 8);
    padding-bottom: 0!important;
}

nav {
    border-bottom: 1px solid white;
}

.nav-tabs {
    border-bottom: 0px;
}



.nav-item .nav-link {
    border-radius: 2px;
}



.text-outline-gray {
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}


.border-red {
    outline: red solid 1px !important;
}

.border-blue{
    outline: blue solid 1px !important;
}

.card-registration {
    background-color: rgba(0, 0, 0, 0.875);
}

.login-modal-transparency {
    background-color: rgba(0, 0, 0, 0.5);
}

* {
    //border: 1px solid red !important;
}





.user-card {
    background-color: rgba(56, 59, 63, 0.95);
}




.btn {
    background-color: rgb(202, 23, 23);
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: 0px solid black;
    color: white !important;
}

.btn:hover {
    background-color: #290916;
}

.btn:focus {
    background-color: rgb(41, 9, 22);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.265);
}




.movie-icon-overlay {
    position:absolute;
    bottom: 0;
    background-color: black;
    opacity: 75%;
    overflow: hidden;
    width: 100%;
    height: 15%;
    transition: .6s ease;

  }
  
  .container:hover .movie-icon-overlay {
    height: 100%;
    opacity: 95%
  }

  #movie-container {
      aspect-ratio: 0.63;
  }

  #movie-container > * {
      top:auto;
      bottom: 0;
  }


  .text {
    white-space: nowrap; 
    color: white;
    position: relative;
    top: 15%;
    font-size: 1rem; /* Use this to alter description text size... Might have to adjust based on breakpoints*/
  }

  .subtext {
    visibility: hidden;
  }

  .container:hover .movie-icon-overlay .text{
    visibility: hidden;
  }

  .container:hover .movie-icon-overlay .subtext {
    top: 0;
    opacity: 85%;
    position: absolute;
    visibility: visible;
}


.single-movie-main {

}

* {
    //border: 1px solid red !important;
}




.accordion-item, .accordion-header, .accordion-button {
    background-color: rgba(56, 59, 63, 0.95);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #550f65;
    color: white;
}

.accordion-button:active {
    background-color: red;
}



.owl-prev, .owl-next, .owl-dot {
    visibility: hidden;
}


.bg-image {
    background-size: cover;
    background-position: center;
}



/* The following are for the admin sidepanel */
.app-sidepanel {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 0;
    font-size: .875rem;
    border-right: 1px solid #e7e9ed
}

.app-sidepanel .panel-drop {
    display: none
}

.app-sidepanel .sidepanel-inner {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .05) 0px 8px 15px;
    width: 250px;
    height: 100%
}

.app-sidepanel .sidepanel-close {
    display: none;
    position: absolute;
    z-index: 20;
    right: -2rem;
    top: 0;
    color: #fff;
    font-size: 2rem
}

.app-sidepanel.sidepanel-hidden {
    left: -400px
}

.app-sidepanel.sidepanel-visible {
    left: 0
}

.app-sidepanel .app-nav-main {
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, .1) #e7e9ed;
    scrollbar-width: thin
}

.app-sidepanel .app-nav-main::-webkit-scrollbar {
    width: 6px;
    background-color: #e7e9ed
}

.app-sidepanel .app-nav-main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .5rem
}

@media(max-width: 1199.98px) {
    .app-sidepanel {
        transition: all 0.4s ease-in-out;
        left: -400px;
    }
}

@media(max-width: 1199.98px)and (prefers-reduced-motion: reduce) {
    .app-sidepanel {
        transition: all .4s ease-in-out;
    }
}

@media(max-width: 1199.98px) {
    .app-sidepanel.sidepanel-visible {
        display: block
    }
}



/* admin sidebar header */
.app-branding {
    height: 60px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem
}

.app-branding .logo-icon {
    width: 36px;
    height: 36px
}

.app-branding .logo-text {
    color: #252930;
    font-size: 1.25rem;
    font-weight: 600;
    vertical-align: middle
}



@media(min-width: 1200px) {
    .app-wrapper {
        margin-left: 250px
    }
}

.app-wrapper {
    transition: all .4s ease-in-out;
}

.app {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    padding-top: 56px;
    overflow-x: hidden
}



@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.25s ease-in-out;
}

