<!--
	This is the side panel on the left hand side of admin pages
	It allows for quick movement between the different admin pages
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="page_layout/layout">


<div th:fragment="admin-sidebar" class="app-sidepanel pt-3 mt-5">
	<div class="sidepanel-inner d-flex flex-column">

		<a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>


		<div class="app-branding">
			<a class="app-logo" th:href="@{/index}"><img class="logo-icon me-2" th:src="@{/img/icons/yt.png}"
					alt="logo"><span class="logo-text">ADMIN PORTAL</span></a>
		</div>

		<!-- Admin links -->
		<nav id="app-nav-main" class="flex-grow-1">
			<ul class="app-menu list-unstyled mt-4" id="menu-accordion">

				<!-- Navigation links -->
				<table class="table table-hover">
					<thead></thead>
					<tbody>

						<tr class="clickable flex-row text-center" onclick="window.location='/admin/users/1?sort-field=id&sort-dir=asc'">
							<th class="flex-row py-3 "><p class=" display-1 fs-5 fw-normal m-0 align-self-center" style="cursor:pointer;">Users</p></th>
						</tr>

						<tr class="clickable flex-row text-center" onclick="window.location='/admin/movies/1?sort-field=id&sort-dir=asc'">
							<th class="flex-row py-3 "><p class=" display-1 fs-5 fw-normal m-0 align-self-center" style="cursor:pointer;">Movies</p></th>
						</tr>

						<tr class="clickable flex-row text-center" onclick="window.location='/admin/cc/1?sort-field=cardNumber&sort-dir=asc'">
							<th class="flex-row py-3 "><p class=" display-1 fs-5 fw-normal m-0 align-self-center" style="cursor:pointer;">Credit Cards</p></th>
						</tr>

						<tr class="clickable flex-row text-center" onclick="window.location='/admin/address/1?sort-field=addressId&sort-dir=asc'">
							<th class="flex-row py-3 "><p class=" display-1 fs-5 fw-normal m-0 align-self-center" style="cursor:pointer;">Addresses</p></th>
						</tr>

					</tbody>
				</table>
			</ul>
		</nav> <!-- End of admin links -->
	</div>

</div>