<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div class="container-fluid bg-dark text-white" th:fragment="footer">


    <!-- Newsletter row -->
    <section class=" pt-4">

        <form action="">
            <div class="row d-flex justify-content-center">

                <div class="col-auto align-content-center">
                        <p class="display-1 fs-2">Sign up for our newsletter</p>
                </div>

                <div class="col-md-5 col-12">
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control"
                               placeholder="Email Address" />
                    </div>
                </div>

                <div class="col-auto">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary mb-4 ">
                        Subscribe
                    </button>
                </div>
            </div>
        </form>
    </section>


    <!-- Text -->
    <section class="mb-4 mt-3 text-center">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
            eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
    </section>


    <!-- Section: Links -->
    <section>
        <div class="row text-center">


            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pb-3 justify-content-center">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
            </div>



            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
            </div>



            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
            </div>



            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>



<!-- Copyright -->
<div class="text-center px-3 pt-3 bg-dark text-white">
    © 2022 Copyright:
    <a class="text-white" href="#">Copyright.com</a>
</div>
