<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>


<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">

        <a th:href="@{/index}" class="navbar-brand justify-content-center">
            <!--suppress RequiredAttributes -->
            <img th:src="@{/img/icons/yt.png}"  width="38" height="38" class="d-inline-block"
                 alt="website icon">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="collapse navbar-collapse p-0 m-0 " id="navbarCollapse">
            <ul class="nav navbar-nav mr-auto nav-tabs d-inline-flex container-fluid text-center">
                <li class="nav-item">
                    <a th:href="@{/index}"
                       th:class="${#httpServletRequest.getRequestURL().toString().endsWith('index')
                               ? 'nav-link active bg-dark' : 'nav-link'}"  >Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/registration}" sec:authorize="isAnonymous()"
                       th:class="${#httpServletRequest.getRequestURL().toString().endsWith('registration')
                               ? 'nav-link active bg-dark' : 'nav-link'}">Register</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/users/1?sort-field=id&sort-dir=asc}" sec:authorize="hasRole('ROLE_ADMIN')"
                       th:class="${#httpServletRequest.getRequestURL().toString().contains('admin')
                               ? 'nav-link active bg-dark' : 'nav-link'}" class="nav-link">Admin</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/user/account}" sec:authorize="isAuthenticated()"
                       th:class="${#httpServletRequest.getRequestURL().toString().endsWith('account')
                               ? 'nav-link active bg-dark' : 'nav-link'}" class="nav-link">Account</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/user/movies}"
                       th:class="${#httpServletRequest.getRequestURL().toString().endsWith('movies')
                               ? 'nav-link active bg-dark' : 'nav-link'}" class="nav-link">Movies</a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/login}" sec:authorize="isAnonymous()"
                       th:class="${#httpServletRequest.getRequestURL().toString().endsWith('login')
                               ? 'nav-link active bg-dark' : 'nav-link'}" class="nav-link">Login</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" th:class="'nav-link'" class="nav-link">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>





</div>