<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href = "@{/cssandjs/style.css}" >
    <script th:src="@{/cssandjs/actions.js}"></script>

    <title layout:title-pattern="layout- $CONTENT_TITLE">layout</title>
</head>


<body>
<header>
    <div th:replace="page_layout/header.html :: navbar" ></div>
    <div th:if="${#httpServletRequest.getRequestURL().toString().contains('admin')}"><div th:replace="page_layout/admin_sidebar.html :: admin-sidebar" ></div></div>
</header>


<section layout:fragment="main-content"> </section>
<section layout:fragment="main-content2"></section>



<footer >
    <div th:unless="${#httpServletRequest.getRequestURL().toString().contains('admin')}"><div th:replace="page_layout/footer.html :: footer" > </div></div>
</footer>

</body>
</html>