<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">


<head>
    <title>account.html</title>
</head>



<body>
    <section class="container" layout:fragment="main-content">

        <!-- Row containing columns -->
        <div class="row mt-5">

            <!-- First column-->
            <div class="col-md-5">
                <div class="row">

                    <!-- Icon card-->
                    <div class="col-12 p-0 px-3 py-3 my-4 mb-5 user-card text-white">
                        <div class="d-flex flex-column align-items-center">
                            <img class="photo" th:src="@{/img/icons/face_image_male.png}" alt="user photo">
                            <p class="fw-bold h4 mt-3">John Doe</p>
                            <p>Full Stack Developer</p>
                            <p class="mb-3">Soma,San Francisco, CA</p>
                        </div>
                    </div>

                    <!-- Subscription card-->
                    <div class="col-12 px-2 pb-3 my-2 mb-4 user-card text-white">

                        <div class="d-flex justify-content-center border-bottom py-2 px-3">
                            <p class="display-5 fs-1">Subscription:</p>
                        </div>

                        <div class="d-flex justify-content-center border-bottom py-4 px-3">
                            <p class=""  >Fully subscribed</p>
                        </div>

                        <div class="d-flex justify-content-center py-2 px-3">
                            <button class="btn">Change subscription</button>
                        </div>
                    </div> <!-- end of Subscription card -->
                </div>
            </div> <!-- End of first column -->

            <!-- Second Column-->
            <div class="col-md-7 ps-md-4 my-4 mb-5">
                <!-- User details card -->
                <div class="row offset-lg-1">
                    <div class="col-12 px-3 mb-3 pb-3 user-card text-white">

                        <div class="d-flex justify-content-center border-bottom py-2 px-3">
                            <p class="display-5 fs-1">Account details</p>
                        </div>

                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Full Name</p>
                            <p class="py-2" th:text="${user.getName()} + ' ' + ${user.getSurname()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Username</p>
                            <p class="py-2" th:text="${user.getUsername()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Phone</p>
                            <p class="py-2" th:text="${user.getPhoneNumber()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Date of Birth</p>
                            <p class="py-2" th:text="${user.getDateOfBirth()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">User Roles</p>
                            <p class="py-2" th:text="${user.getAuthorities()}"></p>
                        </div>





                        <div class="d-flex justify-content-center py-2 px-3">
                            <button class="btn">Update Details</button>
                        </div>
                    </div>
                </div> <!-- end of user details card -->

<!--                &lt;!&ndash; addresses card &ndash;&gt;-->
<!--                <div class="row offset-lg-1 my-4">-->
<!--                    <div class="col-12 px-3 mb-3 pb-3 user-card text-white">-->

<!--                        <div class="d-flex justify-content-center border-bottom py-2 px-3">-->
<!--                            <p class="display-5 fs-1">Payment Methods</p>-->
<!--                        </div>-->


<!--                        <div class="d-flex align-items-center justify-content-between border-bottom">-->
<!--                            <p class="py-2">Card1</p>-->
<!--                            <p class="py-2">****1234</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex align-items-center justify-content-between border-bottom">-->
<!--                            <p class="py-2">Card2</p>-->
<!--                            <p class="py-2">****9876</p>-->
<!--                        </div>-->

<!--                        <div class="d-flex align-items-center justify-content-between border-bottom">-->
<!--                            <p class="py-2">Card3</p>-->
<!--                            <p class="py-2">****5656</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; end of addresses card &ndash;&gt;-->

            </div> <!-- End of second column-->





        </div> <!-- End of row containing columns -->
    </section>

</body>

</html>