<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">


<head>
    <title>account.html</title>

    <!--    Run the user status modal (from header.html) to notify the user isn't subscribed-->
    <script th:inline="javascript">
        $(document).ready(function () {
            var userAuthorities = [[${user.authorities}]]

            if (userAuthorities.length === 1 && userAuthorities[0].authority === 'ROLE_MEMBER') {
                $('#userStatusModal').modal('show');
            }

        });
    </script>
</head>



<body>
    <section class="container" layout:fragment="main-content">

        <!-- Row containing columns -->
        <div class="row mt-5">

            <!-- First column-->
            <div class="col-md-5">
                <div class="row">

                    <!-- Icon card-->
                    <div class="col-12 p-0 px-3 py-3 my-4 mb-5 user-card text-white">
                        <div class="d-flex flex-column align-items-center">
                            <img class="photo" th:src="@{/img/icons/face_image_male.png}" alt="user photo">
                            <p class="fw-bold h4 mt-3" th:text="(${#strings.capitalize(user.getName())} + ' ' + ${#strings.capitalize(user.getSurname())})">John Doe</p>
                            <p>--- To be Implemented Later ---</p>
                            <p class="mb-3">--- To be Implemented Later---</p>
                        </div>
                    </div>

                    <!-- Subscription card-->
                    <div class="col-12 px-2 pb-3 my-2 mb-4 user-card text-white">

                        <div class="d-flex justify-content-center border-bottom py-2 px-3">
                            <p class="display-5 fs-1">Subscription:</p>
                        </div>

                        <div class="d-flex flex-column border-bottom py-4 px-3"
                             th:if="${(user.authorities.size() > 1) || (#lists.contains(user.authorities.![authority], 'ROLE_SUBSCRIBED'))}">

                            <p class="">You are subscribed, you can enjoy our full length movies!</p>
                        </div>

                        <div class="d-flex flex-column justify-content-center border-bottom py-4 px-3"
                             th:if="${(user.authorities.size() == 1) && (#lists.contains(user.authorities.![authority], 'ROLE_MEMBER'))}">

                            <div class="d-flex border-bottom pb-5 justify-content-center">
                                You're an unsubscribed user. Subscribe below to enjoy our content!
                            </div>

                            <div class="d-flex justify-content-center pt-4">
                                <stripe-buy-button
                                        buy-button-id="buy_btn_1OjmaTFVGA9E6Iz5ucPZfGyd"
                                        publishable-key="pk_test_51Oiyg8FVGA9E6Iz5BHdUvmM1dSqgSXlF4Jp5b5c6UUiWUhz3dbOPSjb9FfdRaO8TuLTR2uVcBURjyeQgiBKSWYZ800nM90NkiJ"
                                        th:attr="client-reference-id=|${#authentication?.principal.id}|"
                                >
                                </stripe-buy-button>
                            </div>
                        </div>
                    </div> <!-- end of Subscription card -->
                </div>
            </div> <!-- End of first column -->

            <!-- Second Column-->
            <div class="col-md-7 ps-md-4 my-4 mb-5">
                <!-- User details card -->
                <div class="row offset-lg-1">
                    <div class="col-12 px-3 mb-3 pb-3 user-card text-white">

                        <div class="d-flex justify-content-center border-bottom py-2 px-3">
                            <p class="display-5 fs-1">Account details</p>
                        </div>

                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Full Name</p>
                            <p class="py-2" th:text="${user.getName()} + ' ' + ${user.getSurname()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Username</p>
                            <p class="py-2" th:text="${user.getUsername()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Phone</p>
                            <p class="py-2" th:text="${user.getPhoneNumber()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Date of Birth</p>
                            <p class="py-2" th:text="${user.getDateOfBirth()}"></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">User Roles</p>
                            <p class="py-2" th:text="${user.getAuthorities()}"></p>
                        </div>

                        <div class="d-flex justify-content-center py-2 px-3">
                            <button th:onclick="|shake(this)|" class="btn">Update Details</button>
                        </div>
                    </div>
                </div> <!-- end of user details card -->
            </div> <!-- End of second column-->

        </div> <!-- End of row containing columns -->


    </section>

    <!-- User Status Modal - Notifies the user that he can't use the service until he's subscribed-->
    <div class="modal fade" id="userStatusModal" tabindex="-1" aria-labelledby="userStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="userStatusModalLabel">User Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p >User is not a subscriber and cannot watch movies. Subscribe to fully enjoy this service</p>
                    <p>---Subscription method not implemented yet---</p>
                </div>
                <div class="modal-footer">
                    <a> <button th:onclick="|shake(this)|" type="button" class="btn btn-primary" >Subscribe</button> </a>
                </div>
            </div>
        </div>
    </div>

</body>



</html>