<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="page_layout/layout">

<head>
     <title>movie_single</title>
    <!--    Run the user status modal (from header.html) to notify the user isn't subscribed-->
    <script th:inline="javascript">
        $(document).ready(function () {
            var userAuthorities = [[${userAuthorities}]]

            if (userAuthorities.length === 1 && userAuthorities[0].authority === 'ROLE_MEMBER') {
                $('#userStatusModal').modal('show');
            }
        });
    </script>
</head>

<body>
    <section layout:fragment="main-content">

        <!-- Movie background + mask -->
        <div class="bg-image ratio ratio-16x9" th:style="'background-image: url(' + @{/img/landing-background.jpg} + ');min-height:40vh; max-height: 80vh;'">
            <div class="mask " style=" background-color: rgba(0, 0, 0, 0.675); min-height:40vh; max-height:80vh;">
                <div class="d-flex container-flex justify-content-center align-content-start">

                    <!-- User can watch movie -->
                    <div class="ratio ratio-16x9 p-0 m-0 " style="" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUBSCRIBED')" >
                        <video class="mask" style="min-height: 46vh; max-height: 85vh; width:100%; background-color: rgba(0, 0, 0, 1); top: 0;" controls autoplay>
                            <source th:src="@{${movie.movieLink}}"  type="video/mp4">
                        </video>
                    </div>

                    <!-- User cannot watch movie - show trailer -->
                    <div class="ratio ratio-16x9 p-0 m-0 " style="max-height: 85vh; min-height: 46vh;"
                         sec:authorize="!hasRole('ROLE_SUBSCRIBED') && !hasRole('ROLE_ADMIN')" >
                        <iframe th:src="@{${movie.getTrailerLink()}}"
                                class="mask"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div> <!-- end of Movie background-->


        <!-- Movie Description-->
        <div class="container text-white my-5 py-5">
            <div class="row px-lg-5 mx-lg-5">

                <!-- Fist Column-->
                <div class="col-12 col-md-5 flex  pb-5 mb-3">
                    <div class="d-flex justify-content-center justify-content-md-start row">
                        <p class="fs-5 text-white-50 col-5">Title:</p>
                        <p class=" fw-bolder fs-5 col-7" th:text="${movie.title}">Movie title</p>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-start row">
                        <p class="fs-5 text-white-50 col-5">Duration:</p>
                        <p class=" fw-bolder fs-5 col-7" th:text="${movie.length} + ' min'">Movie Duration</p>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-start row">
                        <p class="fs-5 text-white-50 col-5">Type:</p>
                        <p class=" fw-bolder fs-5 col-7" th:text="${movie.type}">Movie type</p>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-start row">
                        <p class="fs-5 text-white-50 col-5">Release year:&emsp;</p>
                        <p class=" fw-bolder fs-5 col-7" th:text="${movie.releaseYear}">Release Year</p>
                    </div>
                </div> <!-- End of First Column-->


                <!-- Second Column -->
                <div class="col-12 col-md-7 text-center order-md-last">
                    <h3 class="mb-3">Description:</h3>
                    <p th:text="${movie.description}"></p>
                </div> <!-- End of second column-->
            </div>
        </div> <!-- end of movie description container-->


        <!-- User Status Modal - Notifies the user that he can't use the service until he's subscribed-->
        <div class="modal fade" id="userStatusModal" tabindex="-1" aria-labelledby="userStatusModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="userStatusModalLabel">User Status</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p >User is not a subscriber and can only watch trailers, subscribe for full functionality</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                    <stripe-buy-button
                            buy-button-id="buy_btn_1OjmaTFVGA9E6Iz5ucPZfGyd"
                            publishable-key="pk_test_51Oiyg8FVGA9E6Iz5BHdUvmM1dSqgSXlF4Jp5b5c6UUiWUhz3dbOPSjb9FfdRaO8TuLTR2uVcBURjyeQgiBKSWYZ800nM90NkiJ"
                            th:attr="client-reference-id=|${#authentication?.principal.id}|"
                    >
                    </stripe-buy-button>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>
</html>