<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="page_layout/layout">

<head>
	<title>admin_user_single</title>
</head>




<body class="app" layout:fragment="main-content">


    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <h1 class="app-page-title">User's account</h1>
                <div class="row gy-4">
	                <div class="col-12 col-lg-6">

						<!-- First card -->
		                <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
						    <div class="app-card-header p-3 border-bottom-0 ">
						        <div class="row align-items-center gx-3">

							        <div class="col-auto">
								        <h4 class="app-card-title">Profile</h4>
							        </div>
						        </div>
						    </div> <!-- End of card header-->


							<!-- Card main content-->
						    <div class="app-card-body px-4 w-100">

								<!-- Photo row-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label mb-2"><strong>Photo</strong></div>
										    <div class="item-data"><img class="profile-image" th:src="@{img/icons/face_image_male.png}" alt=""></div>
									    </div>
								    </div>
							    </div>

								<!-- Name row -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Name</strong></div>
											<div class="item-data" th:text="${user.name}">Name</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>

								<!--Surname row -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Surname</strong></div>
											<div class="item-data" th:text="${user.surname}">Surname</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>




								<!--Email row -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Email</strong></div>
											<div class="item-data" th:text="${user.email}">Email</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>

								<!--Birthday row -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Date of birth</strong></div>
											<div class="item-data" th:text="${user.dob}">Date of Birth</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>

								<!--Phone number row -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Phone number</strong></div>
											<div class="item-data" th:text="${user.phoneNr}">Phone number</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>

								<!--Registration date  -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Registration date</strong></div>
											<div class="item-data"th:text="${user.regDate}">Registration date</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>

								<!--Status   -->
								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Status</strong></div>
											<div class="item-data"th:text="${user.status}">Registration date</div>
										</div>
										<div class="col text-end">
											<a class="btn btn-secondary p-1 px-2" href="#">edit</a>
										</div>
									</div>
								</div>

						    </div>

							<!-- Card footer-->
						    <div class="app-card-footer p-4 mt-auto">
							   <a class="btn app-btn-secondary" href="#">Manage Profile</a>
						    </div> <!-- end of card footer-->
						   
						   
						</div><!--end of card-->
	                </div><!-- end of column -->


					<!-- Second Card -->
	                <div class="col-12 col-lg-6">
		                <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">

							<!-- card header-->
						    <div class="app-card-header p-3 border-bottom-0">
						        <div class="row align-items-center gx-3">
							        <div class="col-auto">

						                
							        </div>
							        <div class="col-auto">
								        <h4 class="app-card-title">Payment methods</h4>
							        </div>
						        </div>
						    </div><!-- end of card header -->

							<!-- card main content -->
						    <div class="app-card-body px-4 w-100">

								<!-- CC row -->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><i class="fab fa-cc-visa me-2"></i><strong>Credit/Debit Card </strong></div>
									        <div class="item-data">1234*******5678</div>
									    </div>
									    <div class="col text-end">
										    <a class="btn btn-secondary p-1 px-2" href="#">Edit</a>
									    </div>
								    </div>
							    </div><!-- end of cc row -->

								<!-- paypal row-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><i class="fab fa-paypal me-2"></i><strong>PayPal</strong></div>
									        <div class="item-data">Not connected</div>
									    </div>
									    <div class="col text-end">
										    <a class="btn btn-secondary p-1 px-2" href="#">Connect</a>
									    </div>
								    </div>
							    </div> <!-- end of paypal row -->
						    </div>

							<!-- footer -->
						    <div class="app-card-footer p-4 mt-auto">
							   <a class="btn app-btn-secondary" href="#">Manage Payment</a>
						    </div>
						   <!-- end of footer -->
						</div>
	                </div>
                </div>
			    
		    </div>
	    </div>
	    
	    
    </div>
</body>
</html> 

