<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">

<head>
	<title>admin_users</title>
</head>




<body class="app" layout:fragment="main-content">

    <!-- Main Content -->
	<div class="app-wrapper pt-5">

        <div class="container-fluid pl-5 ml-5"><h1 class="display-5 fs-1 fw-bolder ml-5 pl-5">Users</h1></div>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">user_id</th>
                    <th scope="col">name</th>
                    <th scope="col">surname</th>
                    <th scope="col">email</th>
                    <th scope="col">dob</th>
                    <th scope="col">phone_nr</th>
                    <th scope="col">reg_date</th>
                    <th scope="col">status</th>
                    <th scope="col">edit</th>

                </tr>
            </thead>
            <!--TODO: Remove dob and phoneNr columns, create padding around the table and header. Also implement sorting technology based on column clicks-->
            <tbody>
                <tr th:each="user : ${users}" class="text-center">
                    <td th:text="${user.id}">user_id</td>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.surname}">surname</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.dob}">dob</td>
                    <td th:text="${user.phoneNr}">phone_nr</td>
                    <td th:text="${user.regDate}">reg_date</td>
                    <td th:text="${user.status}">status</td>
                    <td><a th:href="@{/admin_user_single(id=${user.id})}"><btn  class="btn mx-auto">Edit</btn></a></td>
                </tr>


            </tbody>
        </table>





	</div>


</body>

</html>