<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">

<head>
    <title>login</title>
</head>


<body class="m-0 p-0">

    <section class="bg-image container-fluid py-5" th:style="'background-image: url(' + @{img/landing-background.jpg} + ');'" layout:fragment="main-content">
        <!-- Modal -->
        <div class="modal-dialog px-3 py-5">


            <div class="modal-content card card-registration card-body text-white">

                <form th:action="@{login}" method="POST" th:object="${authenticationRequest}">

                <div class="modal-header text-center ">
                    <p class="mx-auto display-1 fw-bolder fs-2 " id="loginModalLabel">Login</p>
                </div>
                <div class="modal-body  py-4">

                        <label for="inputUsername" class="form-label pt-3">Email or username:</label>
                        <input type="text" id="inputUsername" class="form-control" th:field="*{username}">

                        <label for="inputPassword" class="form-label pt-4">Password:</label>
                        <input type="password" id="inputPassword" class="form-control" pattern=".{6,}" th:field="*{password}">
                        <div class="form-check py-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember Me
                            </label>
                        </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer login-modal-transparency">
                    <div class="flex-column flex-fill">
                        <div class="d-flex justify-content-end pe-4 pb-3">
                            <button type="submit" class="btn btn-lg">Login</button>
                        </div>
                        <p class="text-center pt-3 ">Don't have an account? <a href="registration">Sign Up</a></p>

                        <p class="text-center pt-1 ">Forgot your password? <a href="#">Reset here</a>
                    </div>
                </div> <!-- End of modal footer-->
                </form>
            </div>

        </div> <!-- End of modal -->

    </section>
</body>

</html>