<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">

<head>
    <title>login</title>
</head>


<body>

    <section class="bg-img" th:style="'background-image: url(' + @{img/landing-background.jpg} + ');'" layout:fragment="main-content">
        <!-- Modal -->
        <div class="modal-dialog py-5 my-5 ">
            <div class="modal-content card-registration user-card text-white">
                <div class="modal-header text-center login-modal-transparency">
                    <p class="mx-auto display-1 fw-bolder fs-2 " id="loginModalLabel">Login</p>
                </div>
                <div class="modal-body login-modal-transparency py-4">
                    <form>
                        <label for="inputEmail" class="form-label pt-3">Email:</label>
                        <input type="email" id="inputEmail" class="form-control">

                        <label for="inputPassword" class="form-label pt-4">Password:</label>
                        <input type="password" id="inputPassword" class="form-control" pattern=".{6,}">
                        <div class="form-check py-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember Me
                            </label>
                        </div>

                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer login-modal-transparency">
                    <div class="flex-column flex-fill">
                        <div class="d-flex justify-content-end pe-4 pb-3">
                            <button type="button" class="btn btn-lg">Login</button>
                        </div>
                        <p class="text-center pt-3 ">Don't have an account? <a href="registration.html">Sign Up</a></p>

                        <p class="text-center pt-1 ">Forgot your password? <a href="registration.html">Reset here</a>
                    </div>
                </div> <!-- End of modal footer-->
            </div>
        </div> <!-- End of modal -->
        </div>
    </section>
</body>

</html>