<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">
<head>
     <title>index.html</title>
</head>



<body>

    <section layout:fragment="main-content">

        <!-- Main content 1 -->
        <div class="bg-image" th:style="'background-image: url(' + @{/img/landing-background.jpg} + '); height: 70vh;'">
            <div class="mask " style=" background-color: rgba(0, 0, 0, 0.675); height:70vh;">


                <!-- Set padding and/or margin on x-axis to 0 as this causes extra whitespace
                on the right side of the page -->
                <div class="row text-light text-center mx-0" style="height: 70vh;">
                    <h4 class="display-6 text-outline-gray fw-semibold my-4"><span class="align-middle"></span></h4>
                    <span class="align-middle">
                        <h4 class="display-6 ">--Video here--</h4>
                    </span>

                </div>
            </div>
        </div> <!-- end of main content 1-->


        <!-- Movie Description-->
        <div class="container text-white my-5 py-5">
            <div class="row px-lg-5 mx-lg-5">

                <!-- Fist Column-->
                <div class="col-12 col-md-5 flex  pb-5 mb-3">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <p class="fs-5 text-white-50">Title:</p>
                        <p class=" fw-bolder  fs-5 ">Movie title</p>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <p class="fs-5 text-white-50">Duration:</p>
                        <p class=" fw-bolder  fs-5 ">Movie Duration</p>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <p class="fs-5 text-white-50">Type:</p>
                        <p class=" fw-bolder  fs-5 ">Movie type</p>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <p class="fs-5 text-white-50">Release year:</p>
                        <p class=" fw-bolder  fs-5 ">2004</p>
                    </div>
                </div> <!-- End of First Column-->


                <!-- Second Column -->
                <div class="col-12 col-md-7 text-center order-md-last">
                    <p>Video description Video description Video description Video description Video description Video
                        description
                        Video description Video description Video description Video description Video description Video
                        description Video description Video description </p>
                </div> <!-- End of second column-->
            </div>
        </div> <!-- end of movie description container-->
    </section>
</body>

</html>