<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page_layout/layout">

<head>
    <title>Registration</title>
</head>

<!--
    This is largely finished now, some visuals might change.

    Functionality so far:
    form sends "user" with the following attributes:
    name, surname, email, dateOfBirth, phoneNumber, password, password2

    makes a POST request to "registration"
-->

<body>

<!-- TODO: Show user a message when user registers successfully. -->
<!-- TODO: make the registration page more responsive instead of using columns -->

<!-- Main content -->
<section class="bg-image" th:style="'background-image: url(' + @{/img/landing-background.jpg} + ');'" layout:fragment="main-content">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card card-registration text-light">
                <div class="col-lg-12 col-xl-10 card-body p-md-5 mx-auto">

                    <!-- Form Here -->
                    <form th:action="@{registration}" method="POST" th:object="${user} ">
                        <h3 class="mt-3 mb-5 text-uppercase text-center">New user registration form</h3>


                        <div class="row mx-0">
                            <!-- Name -->
                            <div class="form-outline col-12 col-lg-6 my-3 my-lg-4">
                                <label class="form-label" for="name">Name</label>
                                <input type="text" id="name" class="form-control" th:field="*{name}" required/>
                                <i th:text="${name}" style="color:red;" ></i>
                            </div>

                            <!-- Surname -->
                            <div class="form-outline col-12 col-lg-6 my-3 my-lg-4">
                                <label class="form-label" for="name">Surname</label>
                                <input type="text" id="surname" class="form-control" th:field="*{surname}" required/>
                                <i th:text="${surname}" style="color:red;" ></i>
                            </div>
                        </div>

                        <div class="row mx-0">
                            <!-- Email -->
                            <div class="form-outline col-12 col-lg-6 my-3 my-lg-4">
                                <label class="form-label" for="email">Email</label>
                                <input type="text" id="email" class="form-control" th:field="*{email}" required/>
                                <i th:text="${email}" style="color:red;" ></i>
                            </div>

                            <!-- TODO: Please check if datepicker_input is actually needed -->
                            <!-- Date of birth -->
                            <div class="form-outline col-12 col-lg-6 my-3 my-lg-4">
                                <label class="form-label" for="dateOfBirth">Date of Birth</label>
                                <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}" required/>
                                <i th:text="${dateOfBirth}" style="color:red;" ></i>
                            </div>
                        </div>

                        <div class="row mx-0 my-3 my-lg-4">
                            <!--Number -->
                            <div class="col-12 ">
                                <label for="phoneNumber" class="form-label">Phone number</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">+44</span>
                                    </div>
                                    <input type="number" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" required>
                                </div>
                                <i th:text="${phoneNumber}" style="color:red;" ></i>
                            </div>
                        </div>


                        <div class="row mx-0">
                            <!-- password -->
                            <div class="form-outline col-12 col-lg-6 my-4 my-lg-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" id="password" class="form-control" th:field="*{password}" required/>
                                <i th:text="${password}" style="color:red;" ></i>
                            </div>

                            <!-- password confirmation -->
                            <div class="form-outline col-12 col-lg-6 my-4 my-lg-4">
                                <label class="form-label" for="password2">Confirm Password</label>
                                <input type="password" id="password2" name="password2" class="form-control" required/>
                            </div>
                        </div>

                        <!-- bottom buttons -->
                        <div class="d-flex justify-content-end pt-5">
                            <button type="submit" class="btn btn-lg ms-2">Submit form</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

</body>

</html>